@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="window" style="margin-top:70px;">
            <div class="window-content" style="margin-top:20px;background-color:lightgray;padding:20px;">
                <div class="form-inline titleBox window" style="width: 100%;margin-left: auto;margin-right: auto; padding:10px; position:relative;">
                    <div class="form-group mx-sm-3">
                        <label for="inputUser" class="sr-only">Serial</label>
                        <input type="text" class="form-control" id="inputUser" placeholder="Serial" onkeyup="validateEnter(event);">
                        <input type="hidden" class="form-control" id="serial">
                        <input type="hidden" class="form-control" id="numPCBS">
                    </div>

                    <button id="btnSearch" type="button" class="btn btn-primary">Search</button>
                    <div class="form-group mx-sm-3" style="margin-right:55px;float:right;">
                        <label>Defect: </label>
                        <select class="form-control" id="categories" >
                            <option>Select...</option>
                        </select>
                    </div>
                        <br />
                    <div class="form-group mx-sm-3" style="margin-right:55px;float:right;margin-top:10px;">
                        <select class="form-control" id="defects" style="margin-left: 52px; margin-top: 10px;">
                            <option>Select...</option>
                        </select>
                    </div>
                    <div style="margin-top:10px;">
                        <div class="form-group mx-sm-3">
                            <select class="form-control" id="sltEmployees">
                                <option>Select...</option>
                            </select>
                        </div>
                        <div class="form-group mx-sm-3">
                            <label for="inputDL" class="sr-only">Position</label>
                            <input type="text" class="form-control" id="inpuLD" placeholder="Position...">
                        </div>
                        <div class="form-group mx-sm-3">
                            <label for="inputDep" class="sr-only">Department</label>
                            <input type="text" class="form-control" id="inputDep" placeholder="Department...">
                        </div>
                        <div class="form-group mx-sm-3">
                            <label for="inputArea" class="sr-only">Area</label>
                            <input type="text" class="form-control" id="inputArea" placeholder="Area...">
                        </div>
                    </div>
                    <br>
                    @*<div class="form-group mx-sm-3" style="margin-left:55px;float:left;margin-top:10px;">
                <label>Sector Location: </label>
                <select class="form-control" id="secLoc">
                    <option>Select...</option>
                </select>
            </div>*@
                    <div style="clear:both;"></div>
                </div>

                <br /><br />
                <div id="infModel" style="display:none;">
                    <form class="form-inline titleBox window" style="width:50%; position:relative;">
                        <div class="form-group mx-sm-3">
                            <label id="inputPN">Serial</label> <label> - </label>
                        </div>
                        <div class="form-group mx-sm-3">
                            <label id="inputDjG">Dj Group</label><label> - </label>
                            <input type="hidden" id="djGroup">
                        </div>
                        <div class="form-group mx-sm-3">
                            <label id="inputBin">Bin</label>
                            <input type="hidden" id="bin">
                            <input type="hidden" id="pair_fg">
                        </div>
                    </form>
                </div>
                <div id="tracModel" style="display:none;">
                    <br />
                    <div class="titleBox window" style="margin-left: 10px;">
                        <div class="window-content" style="padding:0px;background-image:none;background-color:white;"><label style="margin-bottom:0px;">Cogiscan Traceabilty</label></div>
                    </div>
                    <div id="getTable" class="window-content"></div>
                    <br />
                    <div class="titleBox window" style="margin-left: 10px;">
                        <div class="window-content" style="padding:0px;background-image:none;background-color:white;"><label style="margin-bottom:0px;">Oracle Assembly</label></div>
                    </div>
                    <div id="getTableOr" class="window-content"></div>
                    <br />
                    <input type="hidden" id="countAssem" value="0" />
                    <button id="btnSave" type="button" class="btn btn-success">Save</button>
                </div>
                <div style="clear:both;"></div>
                <br />
            </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                getCategories();
                getDefects();
                getSecLoc();
                getEmployees();
                $("#btnSearch").click(function () {
                    //alert($("#serial").val());
                   
                    if ($("#inputUser").val() == "")
                        alertW("<div class='window-content' style='color:orange;font-weight:bold;'>Debes escribir un número de serie.</div>");
                    else {
                        $("#serial").val($("#inputUser").val());
                        existCurWeek();
                        //getHist($("#inputUser").val());
                    }
                });
                $("#btnSave").click(function () {

                    if ($("#inpuOD").val() == "") {
                        alertW("<div class='window-content' style='color:orange;font-weight:bold;'>Debes escribir donde se detecto el defecto.</div>");
                        $("#inpuOD").focus();
                        return;
                    }
                    if ($("#inpuLD").val() == "") {
                        alertW("<div class='window-content' style='color:orange;font-weight:bold;'>Debes escribir la locación del defecto.</div>");
                        $("#inpuLD").focus();
                        return;
                    }
                    var radioValue = $("input[name='radio_sub']:checked").val();
                    $("#userKey").val(@User.Identity.Name);
                    if (radioValue) {
                        //alert($("#assemName_" + radioValue).text());
                        //return;
                        //alert($("#serial").val() + ", " + $("#djGroup").val() + ", " + $("#input_" + radioValue).val() + ", " + $("#assemDesc_" + radioValue).text() + ", " + $("#wipEnt_" + radioValue).text() + ", " + $("#mainCostA_" + radioValue).text());
                        inset_item(radioValue);
                    }
                    else {
                        alertW("<div class='window-content' style='color:orange;font-weight:bold;'>Debes seleccionar un subensamble.</div>");
                    }
                });
            });
        </script>
    }
}
else
{
    <div class="alert alert-warning warningBar" role="alert" style="margin-top:90px;margin-left:auto;margin-right:auto;width:45%;">
        Debes iniciar sesión para usar el sistema...
        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#dlgGeneral" id="btnLogin" style="margin-left:30px;">
            Iniciar sesion...
        </button>
    </div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#btnLogin").click(function () {
                    getDlgLogin();
                });
            });
        </script>
    }

}

