@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <div class="userInfo" style="margin-top:20px;">
        <ul class="ttw-notification-menu">
            <li id="userName" class="notification-menu-item first-item">
                <div style="margin-top:10px;">Bienvenido @User.Identity.Name</div>
            </li>
            <li class="notification-menu-item">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="greenButtonRound"><a href="javascript:document.getElementById('logoutForm').submit()">X</a></div>
                }
            </li>
        </ul>

    </div>
}
@*else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
